//Colors

$first-color:white;
$sec-color: #5e72e4;
$third-color:#444;
$four-color:#8898aa;
$five-color:#32325d;
$six-color:#525f7f;
$seven-color:#e6e6e6;
$bg-color:#f4f5f7;

//Sizes

$text-title-size:16px;
$title-size:35px;
$subtitle-size:20px;
$button-size:14px;

//Font-family

$main-font:'Source Sans Pro', sans-serif;
